@principalColor: #D2527F;
@navColor: #2C3E50;
@alternativeColor: #FFFFFF;
@textColor: #FFFFFF;
@alternativeTextColor: #2C3E50;
@titleSize: 2rem;

.article(@num : 3, @margin : 2%) {
	article{
		width: ( 100% - @margin * (@num - 1) ) / @num;
		float:left;
		margin: 0 0 @margin @margin;
	}
	article:nth-of-type(@{num}n+1) {
		clear: left;
		margin-left: 0;
	}
}


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
}

body, html{
	width: 100%;
	height: 100%;
}

body{
	background: @principalColor;
}

nav{
	z-index: 2;
	background: @navColor;
	position: fixed;
	width: 100%;	
	padding: 20px 0;	
	.logo{
		line-height: 20px;
		margin-left: 20px;
		font-size: 1.5rem;
		&:link, &:visited{
			color: @textColor;
		}
		&:hover, &:active{
			color: @principalColor;
		}		
	}	
	ul{		
		float: right;
		li {
		    float: left;
		    list-style: none;
		    line-height: 20px;
		    text-align: center;
		    a {
			    display: inline-block;
			    width: 100px;
			    &:link, &:visited{
					color: @textColor;
				}
				&:hover, &:active{
					color: @principalColor;
				}
			}		
		}
	}
}

.line, .line-alternative{
	padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 0px;
    &:after{
    	content: "\2605";
	    display: inline-block;
	    position: relative; 
	    top: -0.8em;  
	    font-size: 2em;
	    padding: 0 0.25em;	    
	    z-index: 1;
    }
}

.line{		
	color: @textColor;
	&:after{
		background: @principalColor;
	}
}

.line-alternative{	
	color: @alternativeTextColor;
	&:after{
		background: @alternativeColor;
	}
}

.centered{
	display: table;
	width: 100%;
	height: 100%;
}

.intro{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
	color: @textColor;	
	.name{
		text-transform: uppercase;
		font-size: 3.8rem;
	}
	.description{
		font-size: 1.2rem;
	}
}

h1{
	width: 100%;
	text-align: center;
	font-size: @titleSize;
	padding: 50px 0 0 0;
	text-transform: uppercase;
}

.wrapper{
	background: @alternativeColor;
	h1{
		color: @alternativeTextColor;
	}
	.article(3);
	.centered{
		background: @alternativeColor;
		width: 80%;
		margin: auto;
	}
}